build
data/**
!data/.gitkeep
!data/hard_soft_skills.csv
!data/app.png
notebooks/**
!notebooks/.gitkeep
!notebooks/data_cleaning.ipynb
!notebooks/data_exploration.ipynb
!notebooks/distributions_analysis.ipynb
__pycache__
hiring_cv_bias.egg-info
.DS_Store
.venv
/.quarto/
docs/
.cache/
_site/
**/*_files/