data/**
!data/.gitkeep
notebooks/**
!notebooks/.gitkeep
!notebooks/data_cleaning.ipynb
__pycache__
hiring_cv_bias.egg-info
config.py
.DS_Store
.venv
src/hiring_cv_bias/translation/magnetic-market-455110-t2-0dc68481bf13.json