table {
    margin: 2em auto !important;
}


table td {
    border-bottom: none !important;
}

table th {
    border-top: 1px solid !important;
    border-bottom: 1px solid !important;
}

tbody>tr:last-child {
    border-bottom: 1px solid !important;
}

table {
    margin-top: 1.5em !important;
    margin-bottom: 1em !important;
}

table tr {
    text-align: left !important;
}

h3 {
    margin-top: 3rem !important;
}